<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
	<servlet>
		<servlet-name>ModificationCharge</servlet-name>
		<servlet-class>com.dszee.tp.servlets.ModifierCharge</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationCommande</servlet-name>
		<servlet-class>com.dszee.tp.servlets.CreationCommande</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ModificationCharge</servlet-name>
		<url-pattern>/modificationCharge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationCommande</servlet-name>
		<url-pattern>/creationCommande</url-pattern>
	</servlet-mapping>
</web-app>